@media only screen and (min-width: 380px) {
    .about-title {
        font-size: 6rem
    }
}

@media only screen and (min-width: 576px) {
    .card-container {
        width: 100%;
        height: 75%;
        position: relative;
        z-index: 1;
        margin: 32px auto;
        max-width: 500px;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        float: left;
        height: 250px;
    }
    .card-front-img {
        width: 100%;
        height: 100%;
    }
    /*- Card body -*/
    .card-body {
        width: 500px;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: all .7s linear;
    }
    /*- Flipping the card -*/
    .card-container:hover .card-body {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .card-container:hover>.card-body>.side-front {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease-in, visibility .75s linear;
    }
    /*- Card sides -*/
    .card-side.side-front {
        display: block;
    }
    .card-side {
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        color: #212121;
        background-color: #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
    }
    .card-side .container-fluid {
        height: 100%;
    }
    /*- Front side -*/
    .side-front [class^=col-xs]:first-of-type {
        padding-left: 0;
    }
    .side-front-content {
        padding-top: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
        color: white;
        background: #9d7750;
        text-align: center;
        font-size: 50px;
        border: 1px solid #00381f;
    }
    /*- Back side -*/
    .side-back {
        z-index: 2;
        padding: 16px;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .card-title {
        margin-bottom: 0px !important;
    }
    .card-text {
        font-size: 14px;
    }
    .list-group {
        margin-bottom: 10px;
    }
    .list-group-item {
        font-size: 12px;
        padding: 5px 5px;
    }
    /*- Form -*/
    .card-form {
        margin-top: 32px;
    }
    .card-form .row+.row,
    .card-form .row+fieldset,
    .card-form fieldset+fieldset {
        margin-top: 16px;
    }
    input,
    textarea {
        padding: 8px;
        width: 100%;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #eee;
        border-left: 0;
    }
    input:focus,
    textarea:focus {
        outline: 0;
        border-bottom: 1px solid #0c81f6;
    }
    textarea {
        max-height: 80px;
        resize: vertical;
    }
    .btn-primary {
        padding: 8px 16px;
        font-size: 16px;
        background-color: #0c81f6;
        border: none;
        box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
        transition: background-color .25s ease-in, box-shadow .25s ease-in;
    }
    .btn-primary:focus,
    .btn-primary:hover {
        background-color: #56a7f9;
        box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
    }
    .projects-container {
        display: flex;
    }
    .card-title-front {
        text-align: center;
        font-family: 'Open Sans', serif;
        font-weight: 700;
        text-transform: capitalize;
        color: #00381f;
    }
    .about-title {
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    section.resume-section {
        max-height: 470px;
    }
    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
    .icon-container li {
        display: list-item;
    }
    .container-text {
        text-align: center;
    }
    .icon-container .icon-h3-title {
        font-size: 0.6rem;
    }
    .icon-container li>span {
        margin: 0px;
    }
    .experience-title {
        line-height: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
        border-right: 2px solid #00381f;
    }
    .list-social-icons {
        text-align: center;
    }
    #sidebar .navbar-brand {
        display: flex;
        margin: auto auto 0;
        margin-top: 10px;
        padding: 0.5rem;
    }
    #sidebar .navbar-brand .img-profile {
        max-width: 100rem;
        max-height: 10rem;
        border: 2px solid #00381f;
        margin-top: 50px;
    }
    #sidebar .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sidebar .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    #sidebar .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }
    #sidebar .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
    section.resume-section {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    .buttonEn {
        display: block !important;
    }
    .languageMin {
        display: none !important;
    }
    .about-icons {
        display: none;
    }
    .about-title {
        padding-top: 40px;
    }
    .language-text {
        display: inline;
    }
    .courses-title {
        font-family: 'Open Sans', serif;
        font-size: 3rem;
    }
    .courses-name {
        font-family: 'Open Sans', serif;
        font-size: 1.4rem;
        margin: 10px;
    }
    .skills-text {
        font-family: 'Open Sans', serif;
        font-size: 2.2rem;
        margin: 20px;
    }
    .icon-container .icon-h3-title {
        font-family: 'Open Sans', serif;
        font-size: 0.7rem;
    }
    .experience-title {
        font-family: 'Open Sans', serif;
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 25px;
    }
    .experience-data {
        font-family: 'Open Sans', serif;
        font-size: 0.9rem;
    }
    .experience-projects-title {
        font-family: 'Open Sans', serif;
        font-size: 1.1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .experience-items {
        font-family: 'Open Sans', serif;
        font-size: 1.0rem;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    section.resume-section {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    .education-title {
        font-size: 2.4rem;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .education-degree {
        font-size: 1.6rem;
    }
    .education-date {
        margin-top: 25px;
        font-size: 1.2rem;
        padding-top: 25px;
    }
    .education-content {
        font-size: 1.4rem;
        margin: 15px;
    }
    .card-container {
        width: 600px;
        height: 300px;
        max-width: 600px;
    }
    .card-body {
        width: 600px;
        height: 300px;
    }
    .card-text {
        padding: 10px;
        font-size: 1.2rem;
    }
    .list-group-item {
        padding: 5px;
        font-size: 1.1rem;
    }
    .btn {
        font-size: 1.3rem;
        padding-top: 10px;
    }
    .card-title-front {
        font-size: 2.4rem;
    }
    .projects-container {
        margin-top: 40px;
    }
}

@media only screen and (min-width: 1500px) {
    .courses-title {
        font-family: 'Open Sans', serif;
        font-size: 3rem;
    }
    .courses-name {
        font-family: 'Open Sans', serif;
        font-size: 1.6rem;
        margin: 10px;
    }
    .skills-text {
        font-family: 'Open Sans', serif;
        font-size: 3rem;
        margin: 30px;
    }
    .icon-container .icon-h3-title {
        font-family: 'Open Sans', serif;
        font-size: 0.9rem;
    }
    .experience-title {
        font-family: 'Open Sans', serif;
        font-size: 2.2rem;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .experience-data {
        font-family: 'Open Sans', serif;
        font-size: 1.6rem;
    }
    .experience-projects-title {
        font-family: 'Open Sans', serif;
        font-size: 1.6rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .experience-items {
        font-family: 'Open Sans', serif;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .education-title {
        font-size: 2.7rem;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .education-degree {
        font-size: 1.8rem;
    }
    .education-date {
        margin-top: 30px;
        font-size: 1.4rem;
        padding-top: 30px;
    }
    .education-content {
        font-size: 1.6rem;
        margin: 20px;
    }
    .card-container {
        width: 800px;
        height: 400px;
        max-width: 800px;
    }
    .card-body {
        width: 800px;
        height: 400px;
    }
    .card-text {
        padding: 30px;
        font-size: 1.6rem;
    }
    .list-group-item {
        padding: 10px;
        font-size: 1.2rem;
    }
    .btn {
        font-size: 1.8rem;
        padding-top: 15px;
    }
    .card-title-front {
        font-size: 2rem;
    }
    .projects-container {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 1800px) {
    .courses-title {
        font-family: 'Open Sans', serif;
        font-size: 4rem;
    }
    .courses-name {
        font-family: 'Open Sans', serif;
        font-size: 2.0rem;
        margin: 15px;
    }
    .skills-text {
        font-family: 'Open Sans', serif;
        font-size: 4.3rem;
        margin: 35px;
    }
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .about-list-item {
        font-size: 25px;
        margin: 5px;
        font-style: italic;
    }
    .about-list-item-span {
        font-weight: 600;
        color: #00381f;
        font-size: 32px;
        margin: 5px;
    }
    .about-me {
        padding-top: 30px;
        font-size: 2rem;
    }
    .about-letter {
        color: #00381f;
        font-size: 8.4rem;
        font-weight: normal;
    }
    .education-title {
        font-size: 3rem;
        margin-top: 40px;
        margin-bottom: 3rem;
    }
    .education-degree {
        font-size: 2rem;
    }
    .education-date {
        margin-top: 40px;
        font-size: 1.5rem;
        padding-top: 30px;
    }
    .education-content {
        font-size: 1.8rem;
        margin: 20px;
    }
    .experience-title {
        font-family: 'Open Sans', serif;
        font-size: 2.3rem;
        margin-top: 30px;
        margin-bottom: 3rem;
    }
    .experience-data {
        font-family: 'Open Sans', serif;
        font-size: 1.8rem;
    }
    .experience-projects-title {
        font-family: 'Open Sans', serif;
        font-size: 1.8rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .experience-items {
        font-family: 'Open Sans', serif;
        font-size: 1.4rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}