body {
    font-family: 'Open Sans', serif;
    padding-top: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

#sidebar {
    display: none;
}

.languageMax {
    display: none !important;
}

.about-title {
    text-align: center;
    font-family: serif;
    font-weight: 100;
    text-transform: capitalize;
    color: #343a40;
    padding-top: 0px;
    font-size: 4rem;
}

.about-me {
    padding-top: 10px;
    color: #868e96 !important;
    margin: 0;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.about-list-item-span {
    color: #00381f;
    font-size: 18px;
    margin: 5px;
}

.about-title-item {
    color: #9d7750;
    padding-left: 20px;
    display: inline-block;
}

.about-icons {
    text-align: center;
}

.about-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #00381f;
    color: #fff!important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.about-icon-facebook,
.about-icon-linedin,
.about-icon-github {
    background: #00381f;
    transition: background 0.5s ease-in-out;
}

.about-icon-facebook:hover {
    background: #4267B2;
}

.about-icon-linedin:hover {
    background: #4099C8;
}

.about-icon-github:hover {
    background: #24292E !important;
}

.about-list {
    margin-top: 30px;
    margin-bottom: 20px;
}

.about-list-item {
    text-align: center;
}

.about-email {
    color: #00381f;
}

.about-email:hover {
    color: #eed6b5;
    text-decoration: none;
}

.courses-title {
    font-family: 'Open Sans', serif;
    font-size: 2rem;
}

.courses-name {
    font-family: 'Open Sans', serif;
    font-size: 1.2rem;
    margin: 6px;
}

.skills-text {
    font-family: 'Open Sans', serif;
    font-size: 2rem;
}

.icon-container li {
    display: contents;
}

.container-text {
    text-align: center;
}

.education-title {
    font-size: 2.4rem;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1;
}

.education-degree {
    font-size: 1.6rem;
}

.education-date {
    margin-top: 25px;
    font-size: 1.2rem;
    padding-top: 25px;
}

.education-content {
    font-size: 1.4rem;
    margin: 15px;
}

.experience-data,
.education-date {
    color: #9d7750;
}

.icon-container .icon-h3-title {
    font-family: 'Open Sans', serif;
    font-size: 1rem;
}

.card-side.side-front {
    display: none;
}

.card-title-front {
    text-align: center;
}

.side-back {
    text-align: center;
}

.projects-container {
    margin: 25px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.resume-content {
    line-height: 25px;
}

a {
    color: #eed6b5;
}

.my-auto {
    max-width: 75%;
    margin: auto;
}

.fa-ul {
    text-align: justify;
}

.bg-primary {
    background-color: #9d7750 !important;
}

.navbar-dark {
    background-color: #805c3f;
    border: 1px solid #00381f;
    border-bottom: 4px solid #00381f;
    border-left: none;
}

#nav-item-link:not.active {
    color: #eed6b5 !important;
}

#nav-item-link:hover {
    color: white !important;
}

#nav-item-link.active,
#nav-item-link.active:hover {
    background-color: #805c3f !important;
    border-radius: 50px !important;
    transition-duration: 0.6s !important;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
    color: #00381f !important;
}

.nav-pills .nav-link {
    border-radius: 0 !important;
}

.nav-pills:hover .nav-link:hover {
    background-color: #89674d;
    animation-name: navItemLinkHover;
    animation-duration: 0.6s;
}

.nav-link {
    text-transform: uppercase;
}

.language-text {
    padding: 10px;
    vertical-align: middle;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    display: none;
}

.buttonEn {
    opacity: 0.7;
    outline: none !important;
}

.buttonEn:hover {
    animation-name: changeLanguage;
    animation-duration: 1s;
    background-color: #00381f;
    opacity: 1;
    outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none !important;
    border: 1px solid #00381f;
}

.fa-phone:before,
.fa-envelope:before {
    padding-right: 10px;
}

.sidebar-contact,
.sidebar-mail,
.sidebar-phone,
.list-block-item {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.list-facebook {
    color: #4267b2;
    opacity: 0.4;
    transition: color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.list-linkedin {
    color: #4267B2;
    opacity: 0.4;
    transition: color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.list-github {
    color: #24292E;
    opacity: 0.4;
    transition: color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.list-facebook:hover {
    color: #4267B2;
    opacity: 1;
}

.list-linkedin:hover {
    color: #4099C8;
    opacity: 1;
}

.list-github:hover {
    color: #24292E !important;
    opacity: 1;
}

.fa-circle::before {
    text-shadow: 1px 1px 2px black, 0 0 25px #00381f, 0 0 5px darkblue;
}

.fa-phone,
.fa-envelope {
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    font-size: 16px;
    transition: font-size 1 ease-in;
}

.fa-phone:hover,
.fa-envelope:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    animation-name: phone-mail;
    animation-duration: 1s;
    color: #00381f;
    font-size: 18px
}

.dariusz-sibik {
    letter-spacing: 0;
    padding: 8px;
    display: block;
    margin: 0 auto;
    text-shadow: 1px 4px 8px black;
    background: url(../img/animation.png);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: dariusz-sibik 140s linear infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Allura', cursive;
    text-transform: capitalize;
}

section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

.experience-title {
    font-size: 2.5rem;
    line-height: 35px;
    margin-bottom: 1.5rem;
}

.experience-projects {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.experience-projects-title {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
    font-size: 1.7rem;
}

.experience-projects-item a {
    color: black;
}

.experience-projects-item a:hover {
    text-shadow: 0.3px 0.3px red;
}

.icon-container .icon-h3-title {
    margin: 10px 0 5px;
    padding: 20px 0 0;
    font-size: 1em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}

.icon-container li>span {
    display: block;
    height: 100%;
    color: #00381f;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    cursor: pointer;
    margin: 20px;
}

.icon-container li {
    width: 13%;
    float: left;
    height: 90px;
    text-align: center;
}

.icon-container {
    list-style: none;
}


/* h3 before */

.icon-container .icon-h3-title:before {
    content: '';
    position: absolute;
    background: #00381f;
    width: 60px;
    height: 2px;
    top: 0;
    left: 50%;
    margin: 0 0 0 -30px;
    -webkit-transition: margin-top 0.2s;
    -moz-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
}


/* i before */

.icon-i-image:before {
    font-family: 'devicon';
    font-size: 3em;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


/* hover */

.icon-container li>span:hover {
    background: #00381f;
}

.icon-container li>span:hover .icon-h3-title {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}

.icon-container li>span:hover .icon-i-image:before,
.icon-container li>span:hover .icon-h3-title {
    color: #fff;
}

.icon-container li>span:hover .icon-h3-title:before {
    background: #fff;
    margin-top: 40px;
}

.container-text {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: underline;
}

@keyframes dariusz-sibik {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes changeLanguage {
    from {
        background-color: #89674d;
    }
    to {
        background-color: #00381f;
    }
}

@keyframes phone-mail {
    from {
        color: white;
        font-size: 16px;
    }
    to {
        color: #00381f;
        font-size: 18px;
    }
}

@keyframes navItemLinkHover {
    from {
        background-color: #805c3f;
    }
    to {
        background-color: #89674d;
    }
}